.contact {

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 45vh;
  }

  .title {
    font-size: 3rem;
    font-weight: bold;
  }

  .contactOptions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    text-align: center;
    margin: 1rem 0;
  }

  .content {
    margin: 2.4rem 0;
    text-align: center;

    p {
      text-align: center;
    }
  }

  .helloButton {
    width: 128px;
  }
}