@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-size-base: 18px;
}

body {
  width: 100vw;
  height: 100vh;
  font-size: var(--font-size-base);
  /* background-color: var(--bg-color-base); */
}


.gradient {
  background: linear-gradient(90deg, #ae00ff, #2ea8ff);
  background-size: 400% 400%;
  animation: gradientAnimation 2s ease-in infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* ipad mini */
@media (max-width: 767px) {}


/* div, p, span, h1, h2, h3, h4 { border: 1px solid rgba(255, 0, 0, 0.5); } */