@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
  max-width: 100%;
  box-sizing: border-box;
}

html,
body {
  transition: background-color 0.3s ease;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

/* desktop */
@media (max-width: 1200px) {}

/* tablet */
@media (max-width: 991px) {}

/* ipad mini */
@media (max-width: 767px) {}

/* iphone se */
@media (max-width: 375px) {}