.menu {
  & .appbar {
    background-image: none;
    box-shadow: none;
    border-color: rgba(117, 108, 96, 1);
    backdrop-filter: blur(8px);
    border-bottom: 1px solid rgba(117, 108, 96, 0.3)
  }

  .logo {
    margin: 0 16px;
    cursor: pointer;
    align-self: center;

    button {
      font-weight: bolder;
      font-size: 1.4rem;
      padding: 4px;
    }
  }

  & .desktopMenu {
    display: flex;
    width: 100%;
    justify-content: space-between;

    & .section1 {
      flex: 1;
      display: flex;
      gap: 16px;
      margin: 0 16px;
    }

    & .section2 {
      display: flex;
    }
  }

  & .mobileMenu {
    width: 100%;

    & .section1 {
      display: flex;
      justify-content: space-between;
    }

    & .section2 {}
  }
}

.mobileDrawer {
  padding: 1rem;

  .navItem {
    span {
      font-weight: bold;
    }
  }
}

.navItem {
  color: var(--color-primary);
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}