.menu {
  .navItem {

    &:hover {
      font-weight: bold;
    }
  }

  .desktopMenu {
    display: flex;
    width: 100%;
    justify-content: space-between;

    & .section1 {
      display: flex;
      gap: 4px;
      background-color: rgba(0, 0, 255, 0.363), ;
    }

    & .section2 {}
  }

  .mobileMenu {
    width: 100%;

    & .section1 {
      display: flex;
      justify-content: space-between;
    }

    & .section2 {}
  }
}