@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 200% 50%;
  }
}


.heroHeader {
  height: 100%;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  pointer-events: none;

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    max-width: 512px;
  }

  .subWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: flex-start
  }

  .iam {
    font-style: italic;
    text-decoration: underline;
    margin-top: 16px;
  }

  h1 {
    color: #D8804E;
    font-size: 3.2rem;
    font-weight: 900;
  }

  h3 {
    font-size: 2rem;
    font-weight: 700;

    background: linear-gradient(90deg, #ae00ff, #2ea8ff, #ae00ff);
    background-size: 200% 200%;
    animation: gradientAnimation 3s linear infinite;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .content1 {
    margin-left: 16px;
  }

  .content2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0 4px;
    margin-left: -24px;
  }

  /* .content3 {} */

  .content4 {
    text-align: left;
  }
}

/* ipad mini */
@media (max-width: 767px) {
  .heroHeader {
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    pointer-events: none;

    &>div {
      max-width: 512px;
    }

    .wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      width: 100%;
    }

    .subWrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center;
    }

    h1 {
      font-size: 2.2rem;
    }

    h3 {
      font-size: 1.5rem;
    }

    .iam {
      margin-top: 0px;
    }

    .content1 {
      margin-left: 0px;
    }

    .content4 {
      text-align: center;
    }
  }
}