.projectsWrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
}


/* desktop */
@media (max-width: 1024px) {}

/* tablet */
@media (max-width: 991px) {}

/* ipad mini */
@media (max-width: 767px) {}

/* iphone se */
@media (max-width: 375px) {}